html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #21213C; }

a {
  cursor: pointer; }

.container-fluid, .row {
  margin: 0;
  padding: 0; }

/*===============================Nav bar================================*/
.navbar {
  background-color: #21213C;
  margin-bottom: 0;
  height: 50px;
  border-bottom: none; }
  .navbar #nav-contents {
    padding: 0 40px; }
    .navbar #nav-contents #logo {
      font-size: 24px; }
    .navbar #nav-contents #logo .caret {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid; }
    .navbar #nav-contents .nav {
      float: right;
      font-size: 20px; }

#side-nav {
  float: left;
  background-color: #5C5F9D;
  height: calc(100% - 50px);
  display: inline-block;
  width: 60px; }
  #side-nav li {
    height: 60px;
    margin: 0; }
    #side-nav li a {
      height: 60px;
      line-height: 60px;
      padding: 0;
      text-align: center;
      color: white;
      font-size: 25px;
      margin: 0; }
      #side-nav li a:hover {
        background-color: #d3d3d3;
        color: #82b21e; }
        #side-nav li a:hover i {
          color: #82b21e; }
      #side-nav li a.active {
        background-color: #d3d3d3;
        color: #21213C; }

#underTopNav {
  height: 50px;
  width: 100%; }

#wrapper {
  height: 100%;
  width: 100%; }

#main {
  width: 100%;
  height: 100%;
  background: url(../img/intro.png) no-repeat center center;
  background-size: cover; }

#contents {
  float: left;
  display: inline-block;
  width: calc(100% - 60px);
  height: calc(100% - 50px); }

#sideContents {
  height: 100%;
  background-color: #d3d3d3; }

.section-btn {
  width: calc(100% - 20px);
  height: 35px;
  line-height: 35px;
  margin: 20px 10px 5px;
  padding: 0;
  background-color: #82b21e;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px; }

#SearchMessageDiv {
  color: #d64d61;
  min-height: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center; }

#searchResults {
  height: 100%; }
  #searchResults .select2 {
    width: 100% !important; }

.scroller {
  position: relative; }

.result-items {
  height: calc(100% - 170px);
  margin-top: 150px;
  background-color: #E7E7F0;
  border-radius: 5px;
  overflow-y: auto; }
  .result-items .result-item {
    position: static;
    padding: 2.5px 0;
    margin: 5px 10px;
    border-radius: 10px;
    background: #82b21e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B4D178), to(#82b21e));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#B4D178), to(#82b21e));
    background: -moz-linear-gradient(center top, #B4D178, #82b21e);
    color: white; }
    .result-items .result-item div {
      padding: 0 0 0 10px; }
    .result-items .result-item .fa {
      font-size: 15px; }
      .result-items .result-item .fa.fa-caret-up {
        display: none; }
    .result-items .result-item .item-contents {
      display: none;
      background-color: white;
      height: 150px; }

/*# sourceMappingURL=style.css.map */
