// =========================== colors palette ===========================//
$color-back: #d3d3d3;
$color-darkest: #21213C;
$color-dark: #666382;
$color-deem: #9d9d9d;
$color-main: #500000;


$color-light: #c2c6e3;
$color-lightest: #ffffff;
$color-vibrant-light: #96BBE9;
$color-vibrant: #4183D7;
$color-vibrant-dark: #003C71;
$color-stroke-regular: #696969;
$color-stroke-light: #d3d3d3;
$color-stroke-lightest: #f1f1f1;
$color-active: #d64d61;

// =========================== font size ===========================//
$h1-size: 60px;
$h2-size: 40px;
$h3-size: 30px;
$h4-size: 20px;
$h5-size: 16px;