<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div id="nav-contents" class="col-md-12">
        <div class="navbar-header dropdown">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" href="/admin">TAMS - Admin</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a id="about" href="#about">Home</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="wrapper" class="container-fluid" ng-controller="adminCtrl">
  <div class="row main">
    <div class="col-md-9 admin">
      
    </div>
    <form id="adminLogin" class="col-md-3 admin" ng-submit="onSubmit()">
      <h2>TMAS Admin</h2>
      <input type="text" placeholder="ID" ng-model="credentials.email"/>
      <input type="password" placeholder="Password" ng-model="credentials.password"/>
      <button type="submit" class="btn btn-default">Login</button>
    </div>
  </form>
</div>
