
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="navbar-header dropdown">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" href="#">FrameIt <span class="caret"></span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#about">About</a></li>
                <li><a href="#assign">Assign</a></li>
                <li><a href="#export">Export</a></li>
                <li><a href="#account">Account</a></li>
            </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<div id="wrapper" class="container-fluid">
  <div id="underTopNav" class="row">
    <div class="col-md-12"></div>
  </div>
  <div search-engine id="searchEngine" ng-controller="searchEngineCtrl" class="row">
  </div>
  <div class="row">
    <div id="searchResults" ng-controller="searchResultsCtrl">
      <ul id="tempData">
        <li ng-repeat="x in filteredClasses">{{ x.subject }}, {{ x.course }}, {{ x.section }}, {{ x.crn }}, {{ x.instructor }} <span ng-repeat="y in x.schedule">, {{ y.days }}</span></li>
      </div>
    </div>
  </div>
</div>
